 /* Index Css */

.aboutme{
  padding-top: 50px;
  padding-bottom: 150px;
}

.aboutme img{
  border-radius: 10px;
}
.aboutme h1{
  padding-bottom: 20px;
}
.aboutme p {
  text-align: justify; /* Improves readability */
  text-justify: inter-word;
}

.aboutme img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px; /* Makes image corners rounded*/
}

@media (min-width: 768px) {
  .aboutme {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

 /* Project Page Css */
#projects h2 {
  color: #343a40; /* Dark gray, similar to Bootstrap's dark background */
}

#projects {
  background-color: #f8f9fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: .875rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.projecttitle{
  padding-top: 30px;
}

.skill-tag {
  display: inline-block;
  padding: 0.25em 0.75em;
  background-color: #574b90;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: default;
  border-radius: 5px;
}
.skill-tag.alt-color{
  background-color: #3d5af1;

}
/* Optional: Add styles for the scrollbar to match your theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey scroll thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey on hover */
}

/* For Firefox */
* {
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;
}

/* Ensuring font consistency */
body, h2, h3, p {
  font-family: 'Your Font Family', sans-serif; /* Replace with your font choice */
}

#projects,.project{
  /* dark background */
  background-color: #343a40;
  color:white;
}

#projects h2{
  font-family: merriwea;
}

.color-white{
  color: white !important;
}
/* Optional: Customize the carousel appearance */
#otherProjectsCarousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
  border-radius: 5px; /* Rounded corners for caption */
}

#otherProjectsCarousel img {
  height: 300px; /* Fixed height for images, or use 'height:auto;' for auto-adjust */
  object-fit: cover; /* Cover the carousel-item with the image */
}

.skills h2{
  padding-top: 15px;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}