.navbar {
    width: 100%;
    background-color: #0a68c7;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:"Raleway:ital,wght@1,100";
    font-size: 18px;
    display:block;
    width: 19.99%; /* 5 equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #ffffff;
  }
  
  /* Style the current/active link */
  .navbar a.active {
    background-color: #04AA6D;
  }